n8n/demo-data/workflows/Self_bot.json
{
  "name": "Self bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SelfBot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        -500
      ],
      "id": "0ced10b4-d0ee-480b-a981-1dce3491f60a",
      "name": "Webhook",
      "webhookId": "ad3d1e11-4b0e-4bb4-b5ce-2ea6e338390e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11254da1-0756-4b5c-8be3-3b5543a03b98",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4313dbdc-a52d-4d5e-818a-7524243ef4a9",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "6697b8d3-4868-4443-9d7f-488b2fcbb4dd",
              "name": "apiKey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "d2de63ac-d77e-4878-b7b7-933e3048b74e",
              "name": "serverURL",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        -500
      ],
      "id": "92f4e579-fbd8-4f2e-a5d6-6b320d2a97af",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario {{ $json.chat_id }} dice: \"{{ $('Webhook').item.json.body.data.message.conversation }}\"\n\nComo un asistente de IA, responde al usuario de manera útil y conversacional. No repitas el mensaje del usuario.\n",
        "options": {
          "systemMessage": "Eres un asistente de IA útil, creativo y amigable. Tu objetivo es ayudar a los usuarios respondiendo a sus preguntas y proporcionando información relevante de manera conversacional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        342.5,
        -505
      ],
      "id": "7462ecf6-9a4c-46a5-8b22-0ff6512ac5aa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        -260
      ],
      "id": "6ed4c1c3-ac76-4feb-aa28-1aec0977370a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JaWdzr5hXJedS9zR",
          "name": "Google Gemini - Self"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        -260
      ],
      "id": "65560b4c-3804-427a-8f87-90a876e8335e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Edit Fields').item.json.serverURL }}/message/sendText/{{ $('Edit Fields').item.json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $('Edit Fields').item.json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "=delay",
              "value": "={{1}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -500
      ],
      "id": "959484aa-2215-4880-8040-c5046796fdc4",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93532116-91a0-4324-9755-06b0dc712082",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a",
    "templateCredsSetupCompleted": true
  },
  "id": "YvqoUolWSw3kOQKR",
  "tags": []
}